* {
  box-sizing: border-box;
}

body {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

header {
    font-family: 'Libre Barcode 39 Text';
    font-size: 11.7vmin;
    margin: 3vmin 0 3vmin 0;
}

section {
    display:grid;
    grid-template-columns: repeat(20, 3vmin);
    grid-template-rows: repeat(20, 3vmin);
    gap: 0;
    margin: 0 0 3vmin 0;
    /* border: 1vmin solid black; */
}

section > div {
    background-color: rgb(189,189,189);
    border-top: .4vmin solid white;
    border-left: .4vmin solid white;
    border-right: .4vmin solid rgb(123,123,123);
    border-bottom: .4vmin solid rgb(123,123,123);
    color: transparent;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

