#archive_container {
  padding: 10vh 15vw 0 15vw;
  font-size: 70%;
}

.archive {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.archive:last-child {
  padding-bottom: 5vh;
}

.archive img {
  object-fit: cover;
  width: 60%;
}

@media screen and (max-width: 1270px) {
  #archive_container {
    padding: 3vh 5vh 5vh 5vh;
  }

  .archive > img {
    object-fit: cover;
    width: 100%;
  }
}
