#content_home {
  margin-left: 9vw;
  width: 91vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#text_video_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vh;
  padding-bottom: 5vh;
}

#home_text {
  width: 23vw;
  padding: 3vh;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#home_text:hover {
  background-color: black;
  color: white;
}

#line_container {
  display: flex;
  justify-content: flex-end;
}

#line {
  height: 50vh;
  width: 80vw;
  border-left: solid 0.15vh #000;
  border-top: solid 0.15vh #000;
  border-radius: 15vh 0 0 0;
}

#arcade {
  height: 20vh;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2vh;
}

#cart {
  z-index: 2;
}

@media screen and (max-width: 1290px) {
  #home_text {
    margin-top: 30vh;
    width: 90vw;
    pointer-events: none;
  }

  #arcade {
    margin-bottom: 15vh;
  }
}
